@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Cormorant Upright', serif;
  background-color: #F7F0ED;
}

.vulv-top-menu-expanded {
  @apply absolute block top-24 z-50 w-[95%] bg-emerald-100 text-center animate-slideDown;
}

.header-content {
  @apply relative px-4 py-2 text-sm sm:text-lg md:text-lg xl:text-2xl font-semibold after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300 cursor-pointer; 
}

.single-photo-biggest{
  @apply w-[60%] h-[30vh] sm:h-[40vh] md:h-[60vh] xl:h-[70vh] mx-auto border-white border-8 bg-cover bg-center bg-no-repeat cursor-pointer; 
}


/* 
.heart {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: red;
  transform: rotate(-45deg);
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}
.heart:before {
  top: -20px;
  left: 0;
}
.heart:after {
  left: 20px;
  top: 0;
}
 */

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
