@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Cormorant Upright', serif;
  background-color: #F7F0ED;
}

.vulv-top-menu-expanded {
  @apply absolute block top-24 z-50 w-[95%] bg-emerald-100 text-center animate-slideDown;
}

.header-content {
  @apply relative text-center px-4 py-2 text-lg md:text-xl xl:text-3xl hover:text-pink-400 hover:scale-75 font-semibold cursor-pointer; 
}

.single-photo-biggest{
  @apply mx-auto border-white border-8 cursor-pointer; 
}

.wrapped-photo-section img {
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.button-about-contact {
  @apply flex flex-row justify-center items-center gap-2 border-2 hover:bg-slate-200 cursor-pointer shadow-sm rounded-xl font-semibold;
}

.description-me{
  @apply font-bold text-xl text-blue-500 group-hover:text-white;
}